:root {
  --color: #eee;
  --bg-color: #222;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;

  background-color: var(--bg-color);
  color: var(--color);
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

/* html::-webkit-scrollbar{
  display: none;
} */

.container {
  min-height: 400vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  position: fixed;
  top: 15%;
  font-size: 15vw;
}

span {
  display: inline-block;
  text-shadow: 50px 50px 0px #0003;

  /* transform: skewX(7deg); */
}